
  
    <ion-card-header>
       
      
    </ion-card-header>
      
    
<ion-content [fullscreen]="true" class="background" >
  <div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="assets/icon/logo1.png" alt="" style="width: 200px; height: 200px; margin-left: 22%;">
  </div>
  <br><br>

      <ion-button  expand="block" color="secondary" routerLink="/login"><p>Iniciar Sesión</p> </ion-button>
      <ion-button expand="block" routerLink="/signup"> <p>Registrate</p> </ion-button>
    
   
  


</ion-content>
